body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:44px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:12px;
  top:13px;
  width:12px;
  height:19px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:112px;
  top:13px;
  width:95px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
