body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:205px;
  width:702px;
  height:82px;
  font-size:40px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:82px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:665px;
  top:445px;
  width:122px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:13px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
