body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:504px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:504px;
}
#u2 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:11px;
  top:12px;
  width:12px;
  height:19px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:112px;
  top:13px;
  width:95px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:165px;
  width:300px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:19px;
  top:198px;
  width:71px;
  height:44px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:44px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:19px;
  top:172px;
  width:277px;
  height:20px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:103px;
  top:199px;
  width:196px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:19px;
  top:247px;
  width:280px;
  height:13px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:13px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:275px;
  width:300px;
  height:120px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:120px;
}
#u20 {
  position:absolute;
  left:2px;
  top:52px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:19px;
  top:327px;
  width:71px;
  height:44px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:44px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:19px;
  top:282px;
  width:277px;
  height:37px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:37px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:103px;
  top:328px;
  width:196px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:19px;
  top:377px;
  width:280px;
  height:13px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:13px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:405px;
  width:300px;
  height:100px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u30 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:19px;
  top:438px;
  width:71px;
  height:44px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:44px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:19px;
  top:412px;
  width:277px;
  height:20px;
  font-family:'AmericanTypewriter', 'American Typewriter';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:102px;
  top:439px;
  width:196px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:19px;
  top:487px;
  width:280px;
  height:13px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-align:right;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:13px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:88px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:88px;
}
#u40 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:103px;
  top:59px;
  width:201px;
  height:37px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:18px;
  top:59px;
  width:60px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:24px;
  width:56px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:103px;
  top:96px;
  width:200px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:169px;
  top:98px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
