body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:545px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1px;
  top:1px;
  width:318px;
  height:44px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:112px;
  top:13px;
  width:95px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:13px;
  width:17px;
  height:17px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u8 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:293px;
  top:13px;
  width:17px;
  height:17px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:90px;
  width:145px;
  height:90px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u12 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:11px;
  top:91px;
  width:143px;
  height:88px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:88px;
}
#u14 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:11px;
  top:165px;
  width:143px;
  height:14px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:164px;
  top:91px;
  width:145px;
  height:90px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u18 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:165px;
  top:92px;
  width:143px;
  height:88px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:88px;
}
#u20 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:165px;
  top:166px;
  width:143px;
  height:14px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:10px;
  top:191px;
  width:145px;
  height:90px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u24 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:11px;
  top:192px;
  width:143px;
  height:88px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:88px;
}
#u26 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:11px;
  top:266px;
  width:143px;
  height:14px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:164px;
  top:192px;
  width:145px;
  height:90px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u30 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:165px;
  top:193px;
  width:143px;
  height:88px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:88px;
}
#u32 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:165px;
  top:267px;
  width:143px;
  height:14px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:292px;
  width:145px;
  height:90px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u36 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:11px;
  top:293px;
  width:143px;
  height:88px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:88px;
}
#u38 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:11px;
  top:367px;
  width:143px;
  height:14px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u40 {
  position:absolute;
  left:2px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:164px;
  top:293px;
  width:145px;
  height:90px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u42 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:214px;
  top:315px;
  width:44px;
  height:44px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:165px;
  top:293px;
  width:144px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:11px;
  top:293px;
  width:144px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u47 {
  position:absolute;
  left:400px;
  top:200px;
  width:145px;
  height:90px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:90px;
}
#u48 {
  position:absolute;
  left:2px;
  top:37px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:401px;
  top:201px;
  width:143px;
  height:88px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:88px;
}
#u50 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:401px;
  top:274px;
  width:143px;
  height:14px;
  font-family:'STSongti-SC-Regular', 'Songti SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:139px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:390px;
  top:192px;
  width:22px;
  height:22px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u54 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1px;
  top:84px;
  width:308px;
  height:201px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
